@model treatment.Models.Desease

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Desease</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeseaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeseaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentProcedure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentProcedure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferedMedicines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferedMedicines)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeseaseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
