@model IEnumerable<treatment.Models.Desease>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.DeseaseName)*@
            <label >Desease Name</label>
        </th>
        <th>
            
            <label>Treatment Procedure</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferedMedicines)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeseaseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentProcedure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferedMedicines)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeseaseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeseaseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeseaseID })
        </td>
    </tr>
}

</table>
